.DayCell {
    border: rgb(214, 212, 212) solid 1px;
    margin: 0;
    vertical-align: baseline;
    width: 4em;
    height: 4em;
    max-width: 4em;
    max-height: 4em;
}
.date {
    display: block;  
    margin: .25em;
}