.event-div{
    margin-bottom: 2px;
}
.event-button {
    
    color: white;
    font-weight: 600;
    border-radius: 8px;
    margin-left: .25em;
    margin-right: .25em;
    margin-top: .1em;
    margin-bottom: .1em;
    display: inline-block;
}

.event-modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-content {
    background-color: white;
    border-radius: 8px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: .75em;
    padding-bottom: .75em;
    max-width: 58%;
}
.event {
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .3em;
    padding-bottom: .3em;
    background-color: #0d6efd;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.delete {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .3em;
    padding-bottom: .3em;
    border-left: white solid 1px;
    background-color: #0d6dfde8;
}

.delete-tooltip{
    visibility: hidden;
    font-size: small;
    width: 100px;
    background-color: rgb(83, 83, 83);
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.delete:hover .delete-tooltip {
    visibility: visible;
}
.title {
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: .3em;
}

.modal-date {
    font-style: italic;
}

.description {
    margin-bottom: .5em;
}

.heading {
    font-weight: 600;
}